@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-theme-color: #ab855b !important;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 100%;
    scroll-behavior: smooth;
  }
  body {
    line-height: 1.75;
    font-size: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    transition: all 0.3s ease-in-out;
  }

  p {
    text-align: justify;
  }

  h2 {
    font-size: clamp(1.78rem, calc(1.51rem + 1.31vw), 2.53rem);
  }

  h3 {
    font-size: clamp(1.33rem, calc(1.21rem + 0.62vw), 1.69rem);
  }

  section {
    min-height: 100dvh;
    max-width: 1200px;
    margin: 0 auto;
  }

  .swiper-button-prev {
    color: #ab855b !important;
  }
}
